header {
  background: url(/vendors/images/bg-intro-mobile.svg);
  @extend %backgroundFitter;
  background-size: auto !important;
  background-position: right top !important;
  height: 700px;
  position: relative;
  overflow: hidden;
  // margin-bottom: $normalSpacing;
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      display: inline-block;
      width: 5.2rem;
      img {
        width: 100%;
        height: auto;
      }
    }
    span {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 43%;
      .greenButton {
        padding-left: $littleShortSpacing;
        padding-right: $littleShortSpacing;
        margin-left: 0.5rem;
      }
    }
  }

  section {
    position: relative;
    top: 60px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 1.8rem;
    }
    .header__image {
      background-image: url("/vendors/images/illustration-main.svg");
      width: 100%;
      height: 100% !important;
      @extend %backgroundFitter;
    }
    .greenButton {
      -webkit-box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
      box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
      margin: $littleShortSpacing 0;
    }
  }
}
.header__curvedBottom {
  position: relative;
  bottom: 0;
  img {
    visibility: hidden;
    width: 100%;
  }

  @extend %backgroundFitter;
  background: url(/vendors/images/curvedBackGround.svg);
  background-size: 100% 100% !important;
  // background-position: bottom !important;
  width: 100%;
  // height: 80px;
  // height: 0;
  // padding-top: 66.64%;
  // @media screen and (min-width: 414px) {
  //   height: 85px;
  // }
  // @media screen and (min-width: 414px) {
  //   height: 88px;
  // }
}
@media screen and (min-width: $mobileBreakPoint) {
  header {
    nav {
      .logo {
        width: 6rem;
      }
      span {
        justify-content: flex-end;
      }
    }
    section {
      h1 {
        max-width: 600px;
      }
      p {
        max-width: 450px;
      }
      .greenButton {
        padding: 1em 4.5em !important;
      }
    }
  }
}
