@import "../../vendors/css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:700&display=swap");
.header__curvedBottom, header section .header__image, header {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding: 1.75rem 1.2rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 1.75rem 4rem;
  }
}

a {
  font-size: 0.77rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.1rem 0;
}
a:hover, a:active {
  text-decoration: underline !important;
}

.link {
  text-transform: capitalize;
  text-align: center;
}

.greenButton {
  background: #05d69b !important;
  border-radius: 2.5px !important;
}

.bigButton {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.65rem 3.5rem;
}

p {
  color: gray;
  line-height: 1.5;
  font-size: 0.9rem;
}

header {
  background: url(/vendors/images/bg-intro-mobile.svg);
  background-size: auto !important;
  background-position: right top !important;
  height: 750px;
  position: relative;
  overflow: hidden;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  display: inline-block;
  width: 5.2rem;
}
header nav .logo img {
  width: 100%;
  height: auto;
}
header nav span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 43%;
}
header nav span .greenButton {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-left: 0.5rem;
}
header section {
  position: relative;
  top: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header section h1 {
  font-size: 1.8rem;
}
header section span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header section span .greenButton {
  -webkit-box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 12px 3px rgba(0, 0, 0, 0.14);
  margin: 1.3rem 0;
}
header section .header__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/vendors/images/illustration-main.svg");
  background-size: 100% auto !important;
  width: 65%;
  max-width: 300px;
}
header section .header__image img {
  visibility: hidden;
  width: 100%;
}

.header__curvedBottom {
  position: relative;
  bottom: 0;
  background: url(/vendors/images/headerBottomBackground-mobile.svg);
  background-size: 100% 100% !important;
  background-position: bottom !important;
  width: 100%;
}
.header__curvedBottom img {
  visibility: hidden;
  width: 100%;
}
.header__curvedBottom img:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 375px) {
  header nav .logo {
    width: 6rem;
  }
  header nav span {
    justify-content: flex-end;
  }
  header section span h1 {
    max-width: 700px;
  }
  header section span p {
    max-width: 450px;
  }
  header section span .greenButton {
    padding: 1em 4.5em !important;
  }
}
@media screen and (min-width: 768px) {
  header {
    background: url(/vendors/images/bg-intro-desktop.svg);
    background-size: 55% 100% !important;
  }
  header nav span .greenButton {
    margin-left: 1.5rem;
  }
  header section {
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 0;
  }
  header section > * {
    width: 50% !important;
    height: 100%;
  }
  header section span {
    align-items: flex-start;
    justify-content: center;
    padding-right: 4rem;
  }
  header section span * {
    text-align: start;
  }
  header section .header__image {
    max-width: 450px;
    margin-left: 5rem;
  }

  .header__curvedBottom {
    background: url(/vendors/images/headerBottomBackground-desktop.svg);
  }
  .header__curvedBottom img:first-child {
    display: none !important;
  }
  .header__curvedBottom img:nth-of-type(2) {
    display: initial;
  }
}

/*# sourceMappingURL=main.css.map */
